[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-openapi3 = "*"
flask-sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
psycopg-binary = "*"
typer = "*"
tqdm = "*"
sqlalchemy = "*"
python-dotenv = "*"
flask-admin = "*"
aiosqlite = "*"
jwt = "*"
passlib = "*"
pydantic-sqlalchemy = "*"
gunicorn = "*"

[dev-packages]
flask = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
